body	{	background-color:white;		color:black;	padding:100px;	padding-right:300px;		padding-top:130px;		}

header	{	position:fixed;	font-family:"impact";	overflow:hidden;color:white; background-color:black;	top:0px;	left:0px;		text-align:left;	padding:20px 0px 0px 140px;  font-size:40px;	border-bottom:none;	border-radius:0px;		height:60px; width:100%;	border-top:none;}

#box	{	background-color:white;	height:300px;	width:300px;	border:2px solid black;	border-radius:10px;		display:inline-block;	padding:10px;}
	
#sidebar{	background-color:transparent;		height:100%;	width:300px;	position:fixed;		top:90px;	right:0px;	border:1.5px solid black;	border-radius:0px;	border-top:none;	border-right:none;}

select	{	position:static; 	background-color:black;	color:white; margin-left:250px;	overflow:hidden;}

#sidebox	{	height:300px;	width:300px;   border:1px solid black;}

.buttons	{	font-size:20px;	color:white; padding:10px;}

.buttons:hover {	opacity:0.6;}

	a	{  text-decoration:none;}
	
#input	{	margin-left:40px;	color:white;height:20px; width:150px; 	transition:background-color 2s,width 1s;}

#input:focus	{ width:185px;	background-color:grey;	transition:background-color 2s,width 1s;}

#bigbox		{	overflow:scroll;	height:580px;	width:1000px;position:static;}

#modal		{  display:none; background-color:red;}

#close		{	position:relative;  top:0px;	left:370px;	font-size:30px;}

#close:hover{	cursor:pointer; color:black;}

footer		{	float:right;  position:static;	margin-top:100px;}

#about	{	border:1.5px solid black;	border-radius:10px;  width:700px; padding:20px; position:absolute;	top:150px;	left:150px;	line-height:30px;}

#about p {	color:black;  font-size:20px;  font-family:"impact";}

.donatecoin	{	 font-size:15px; display:inline; font-family:"impact";}

#donatebox	{	padding:20px;padding-bottom:0px;	height:300px;	width:350px;	position:absolute;	top:200px;left:1050px;	border:1.5px solid black;	border-radius:10px;	}

.donatelink  {	display:inline;}

#note	{font-family:"impact";}

#contact{	position:absolute;	height:450px;	width:450px;	border:1.5px solid black;  border-radius:10px;	left:550px;top:150px;}

h1	{	text-align:center;  font-family:"impact";}

.contactimg	{	padding:10px;	width:250px; position:static;font-family:"impact";		margin:5px 0px 0px 80px;	border:1.5px solid black;}

.contactimg:hover  {	background-color:black;		color:white;}

.contactlink	{	color:black;}